<!DOCTYPE html>
<html>
<head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Fav Icon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Content/assets/img/fav-icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Content/assets/img/fav-icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/assets/img/fav-icons/favicon-16x16.png">
    <meta name="theme-color" content="#e43a90">

    <environment include="Development">
        <!-- Dependency Styles -->
        <link rel="stylesheet" href="~/Content/dependencies/bootstrap/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="~/Content/dependencies/intro/css/stylesheet.css" type="text/css">
        <link rel="stylesheet" href="~/Content/dependencies/swiper/swiper.min.css" type="text/css">
        <link rel="stylesheet" href="~/Content/dependencies/font-awesome/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="~/Content/dependencies/wow/css/animate.css" type="text/css">
        <link rel="stylesheet" href="~/Content/dependencies/magnific-popup/magnific-popup.css" type="text/css">
        <link rel="stylesheet" href="~/Content/dependencies/jquery-ui/css/jquery-ui.css" type="text/css">
        <link rel="stylesheet" href="~/Content/dependencies/slick-carousel/css/slick.css" type="text/css">
        <link rel="stylesheet" href="~/Content/dependencies/colornip/css/colornip.min.css" type="text/css">
        <link rel="stylesheet" href="~/Content/dependencies/css-loader/css/css-loader.css" type="text/css">

        <!-- Site Stylesheet -->
        <link rel="stylesheet" href="~/Content/assets/css/woocommerce.css" type="text/css">
        <link rel="stylesheet" href="~/Content/assets/css/app.css" type="text/css">
        <link rel="stylesheet" href="~/Content/assets/css/theme-color/theme-default.css" type="text/css" id="theme">
    </environment>
</head>

<body id="home-version-1" class="home-version-1" data-style="default">
    
    <div class="loader loader-bar-ping-pong is-active"></div>
    <div id="site">


        <div class="Switcher">
            <button id="Switcher__control" class="Switcher__control"><i class="tim-cogwheel"></i></button>
            <h5>Change Color</h5>
            <ul id="colors" data-dir="assets/css/theme-color/">
                <li data-scheme="theme-default" data-color="#e43a90"></li>
                <li data-scheme="theme-river" data-color="#242e8a"></li>
                <li data-scheme="theme-alizarin" data-color="#673AB7"></li>
                <li data-scheme="theme-emerald" data-color="#2196f3"></li>
                <li data-scheme="theme-seven" data-color="#7940d7"></li>
                <li data-scheme="theme-carrot" data-color="#135ee4"></li>
                <li data-scheme="theme-amethyst" data-color="#07e6a5"></li>


                <li data-scheme="theme-six" data-color="#d8c600"></li>

                <li data-scheme="theme-eight" data-color="#e8300c"></li>
                <li data-scheme="theme-nine" data-color="#26cc74"></li>
            </ul>
        </div>

        @RenderBody()

        <partial name="_Footer" />
    </div>

    <environment include="Development">
        <!-- Dependency Scripts -->
        <script src="~/Content/dependencies/jquery/jquery.min.js"></script>
        <script src="~/Content/dependencies/jquery-ui/jquery-ui.min.js"></script>
        <script src="~/Content/dependencies/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Content/dependencies/swiper/js/swiper.min.js"></script>
        <script src="~/Content/dependencies/swiperRunner/swiperRunner.min.js"></script>
        <script src="~/Content/dependencies/wow/js/wow.min.js"></script>
        <script src="~/Content/dependencies/jquery.countdown/jquery.countdown.min.js"></script>
        <script src="~/Content/dependencies/magnific-popup/js/jquery.magnific-popup.min.js"></script>
        <script src="~/Content/dependencies/jquery.spinner/js/jquery.spinner.js"></script>
        <script src="~/Content/dependencies/isotope-layout/isotope.pkgd.min.js"></script>
        <script src="~/Content/dependencies/masonry-layout/masonry.pkgd.min.js"></script>
        <script src="~/Content/dependencies/imagesloaded/imagesloaded.pkgd.min.js"></script>
        <script src="~/Content/dependencies/slick-carousel/js/slick.min.js"></script>
        <script src="~/Content/assets/js/headroom.js"></script>
        <script src="~/Content/assets/js/soundmanager2.js"></script>
        <script src="~/Content/assets/js/mp3-player-button.js"></script>
        <script src="~/Content/assets/js/smoke.js"></script>
        <script src="~/Content/dependencies/FitText.js/js/jquery.fittext.js"></script>
        <script src="~/Content/dependencies/gmap3/js/gmap3.min.js"></script>
        <script src='../../../cdnjs.cloudflare.com/ajax/libs/gsap/1.16.1/TweenMax.min.js'></script>
        <script src='~/Content/dependencies/tilt.js/js/tilt.jquery.js'></script>
        <script src='~/Content/assets/js/parallax.min.js'></script>
        <!-- Player -->
        <script src="~/Content/dependencies/jPlayer/js/jquery.jplayer.min.js"></script>
        <script src="~/Content/dependencies/jPlayer/js/jplayer.playlist.min.js"></script>
        <script src="~/Content/assets/js/myplaylist.js"></script>

        <!-- Remove It -->
        <script src="~/Content/dependencies/colornip/colornip.min.js"></script>

        <!--Google map api -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBsBrMPsyNtpwKXPPpG54XwJXnyobfMAIc"></script>

        <!-- Site Scripts -->
        <script src="~/Content/assets/js/app.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
